@import "../../styles/color.scss";

.s-inspection {

    padding-bottom: 15px;

    .rs-picker-toggle-caret {
        font-size: 15px !important;
        top: 13px !important;
    }

    .s-title {
        margin: 10px 0;
        padding-bottom: 8px;
        border-bottom: solid 2px #58595b;
        font-size: 25px;
        font-weight: 700;
        color: #072d7a;
        text-transform: capitalize;

        @media(max-width: 479px) {
            margin-top: 0;
            font-size: 23px;
        }
    }

    .s-sub {
        margin: 10px 0 5px;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        color: #072d7a;
    }

    .s-left {
        padding-right: 5px;

        .rs-btn {
            border-color: #c4c4c4 !important;
            box-shadow: none;
        }
    }

    .s-right {
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;

        .s-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .75);
            color: #fff;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;
            backdrop-filter: blur(10px);

            .b-icon {
                animation: rotate-animation 2s infinite linear;
            }

            .b-title {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 8px;
                color: rgba(255, 255, 255, .8);
            }
        }
    }

    .rs-picker-toggle-placeholder {
        font-size: 18px;
    }

    .b-input {
        input {
            padding: 12px !important;
            font-size: 16px;

            @media(max-width: 479px) {
                font-size: 15px;
            }
        }
    }

    .rs-btn {
        height: 48px;
        border-color: #c4c4c4;
    }

    .rs-stack-item {
        margin-top: 5px !important;
    }

    .rs-btn-close {
        margin-top: 4px !important;
    }

    .rs-picker-toggle-value {
        font-size: 18px;
        color: #333 !important;
    }

    .MuiInputLabel-root {
        top: -3px;
        font-size: 16px;

        @media(max-width: 479px) {
            font-size: 15px;
        }
    }

    .MuiCheckbox-root {
        padding: 0 5px !important;

        @media(max-width: 479px) {
            padding: 5px !important;
        }
    }

    .b-border-left {
        border-left: 1px solid rgba(224, 224, 224, 1);
    }

    .b-table-control {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.1) !important;
        }
    }

    .b-table {
        position: relative;

        .MuiTypography-root {
            font-size: 15px;
            font-weight: 500;
        }

        .MuiFormControlLabel-root {
            margin: 0;
        }

        .b-box {
            width: 35px;
            height: 18px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

        &-box {
            font-size: 15px !important;
            cursor: pointer !important;
            background-color: #fff !important;
            padding: 10px 5px !important;

            &:hover {
                background-color: #f3f3f3 !important;
            }
        }

        &-input {
            input {
                padding: 0 5px;
                font-size: 15px;
            }
        }

        &-title {
            padding: 5px !important;
            text-align: left;
        }

        &-title--sub{
            background-color: #e4e9ee !important;
            font-weight: 600 !important;
            padding-left: 10px !important;
        }

        .b-box--green {
            background-color: seagreen;
            border: none;
        }

        .b-box--red {
            background-color: #d32f2f;
            border: none;
        }

        .b-box--gray {
            background-color: #666;
            border: none;
        }
    }

    .b-border-none {
        border-right: none !important;
    }
}

.b-status {
    background: linear-gradient(to right, #4e6b5b, rgb(15, 155, 15));
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 5px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    text-transform: capitalize;

    @media screen and (max-width: 479px) {
        font-size: 15px;
    }

    .b-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: seagreen;

        @media screen and (max-width: 479px) {
            width: 25px;
            height: 25px;
        }
    }
}

.b-status--empty {
    cursor: default;
}

.b-status--red {
    background: linear-gradient(to right, #ffca02, #ffca02);
    color: #000;

    .b-icon {
        color: #000;
    }
}

.b-status--gray {
    color: #333;
    background: linear-gradient(to left, #BDBBBE, #9D9EA3);

    .b-icon {
        color: #666;
    }
}

.b-status--crimson {
    color: #fff;
    background: linear-gradient(to right, #d32f2f, #ff5353);

    .b-icon {
        color: #d32f2f;
    }
}

.b-status--blue {
    color: #fff;
    background: linear-gradient(to right, #243949, #517fa4);

    .b-icon {
        color: #243949;
    }
}

.b-insp_status {
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
        color: #fd625e;

        .b-desc {
            color: #fd625e !important;
        }
    }
}

.b-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.b-card-header--security {
    background: #072d7a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 5px solid rgb(218 218 218);

    @media screen and (max-width: 991px) {
        font-size: 16px;
        border-right: none;
    }

    .b-top {
        text-align: center;

        .b-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            padding: 10px;
        }

        .b-item--first {
            width: 23%;
        }

        .b-item--sec {
            width: 17%;
        }

        .b-item--third {
            width: 12%;
        }

        .b-item--fourth {
            width: 12%;
        }

        .b-item--fifth {
            width: 12%;
            border-right: none;
        }
    }
}

.b-card-header--search {
    background: #072d7a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 5px solid rgb(218 218 218);

    @media screen and (max-width: 991px) {
        font-size: 16px;
        border-right: none;
    }

    .b-top {
        text-align: center;

        .b-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            padding: 10px;
        }

        .b-item--first {
            width: 12%;

            @media screen and (max-width: 1280px) {
                display: none;
            }

            @media screen and (max-width: 1040px) {
                display: flex;
            }
        }

        .b-item--sec {
            width: 34%;
        }

        .b-item--third {
            width: 24%;

            @media screen and (max-width: 1280px) {
                width: 27%;
            }

            @media screen and (max-width: 1040px) {
                width: 24%;
            }
        }

        .b-item--fourth {
            width: 15%;

            @media screen and (max-width: 1280px) {
                width: 21%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }

        .b-item--fifth {
            width: 15%;

            @media screen and (max-width: 1280px) {
                width: 18%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }

        .b-item--sixth {
            width: 15%;
            border-right: none;

            @media screen and (max-width: 1280px) {
                width: 18%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }
    }
}

.b-card-header--mobile {
    font-size: 16px;

    .b-top {
        text-align: center;

        .b-item {
            padding: 10px 5px;
        }

        .b-item--first {
            width: 15%;
            border-right: none;
        }

        .b-item--sec {
            width: 35%;
        }

        .b-item--third {
            width: 30%;
        }

        .b-item--fourth {
            width: 20%;
        }
    }
}

.b-card-header--flag {
    background: #072d7a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 5px solid rgb(218 218 218);

    @media screen and (max-width: 479px) {
        font-size: 16px;
        border-right: none;
    }

    .b-top {
        text-align: center;

        .b-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            padding: 10px;

            @media screen and (max-width: 479px) {
                padding: 10px 5px;
            }
        }

        .b-item--first {
            width: 25%;
        }

        .b-item--sec {
            width: 20%;

            @media screen and (max-width: 479px) {
                width: 30%;
            }
        }

        .b-item--third {
            width: 15%;

            @media screen and (max-width: 479px) {
                width: 18%;
            }
        }

        .b-item--fourth {
            width: 15%;

            @media screen and (max-width: 479px) {
                width: 17%;
            }
        }

        .b-item--fifth {
            width: 25%;
            display: flex;
            flex-direction: column;
            padding: 0;
            border-right: none;

            @media screen and (max-width: 479px) {
                width: 10%;
                padding: 10px;
            }
        }

        .b-item--sixth {
            width: 33.3%;
            border-right: 1px solid rgba(255, 255, 255, 0.15);
            padding-top: 3px;
        }

        .b-sub {
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            padding: 5px;
            height: 50%;

            @media screen and (max-width: 479px) {
                padding: 0;
                border-bottom: none;
            }
        }
    }
}

.b-card-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    background: #fff;

    &:hover {
        background: #f6f6f6;
    }

    .b-content {
        flex-grow: 1;
    }

    .b-icon {
        width: 40px;
        height: 40px;
        background: #2e5f93;
        color: #fff;
        border-radius: 5px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
    }

    .b-info {
        border-bottom-left-radius: 5px;
        background-color: #ffca02;
        padding: 5px 15px;
        font-weight: 700;
        display: flex;
        gap: 3px;
        position: absolute;
        top: 0;
        font-size: 17px;
        right: 0;
    }

    .item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 17px;

        .regular-text {
            color: #868e96;
            font-size: 16px;
        }

        .big-text {
            font-weight: bold;
            font-size: 22px;
            color: green;

            @media screen and (max-width: 479px) {
                line-height: 1.2;
            }
        }
    }
}

.b-card-15 {
    border: 1px solid #dadada;
    border-top: none;
    overflow: hidden;
    transition: all .6s;
    font-size: 17px;

    .b-top {
        background-color: #fff;
        transition: all .4s ease;

        &:hover {
            background-color: #ffe1a8;
        }

        .b-item {
            border-right: 1px solid #dadada;
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .6s ease;
            cursor: pointer;
        }

        .b-item--first {
            width: 12%;

            @media screen and (max-width: 1280px) {
                display: none;
            }

            @media screen and (max-width: 1040px) {
                display: flex;
            }
        }

        .b-item--sec {
            width: 34%;
            justify-content: flex-start;
            text-transform: capitalize;
        }

        .b-item--third {
            width: 24%;

            @media screen and (max-width: 1280px) {
                width: 27%;
            }

            @media screen and (max-width: 1040px) {
                width: 24%;
            }
        }

        .b-item--fourth {
            width: 15%;

            @media screen and (max-width: 1280px) {
                width: 21%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }

        .b-item--fifth {
            width: 15%;
            gap: 5px;

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }

            @media screen and (max-width: 1280px) {
                width: 18%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }

        .b-item--sixth {
            width: 15%;
            gap: 5px;

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }

            @media screen and (max-width: 1280px) {
                width: 18%;
            }

            @media screen and (max-width: 1040px) {
                width: 15%;
            }
        }

        .b-right-none {
            border-right: none;
        }
    }
}

.b-card-15--mobile {

    font-size: 16px;

    .b-top {

        .b-item--first {
            width: 15%;
            padding: 5px 0;

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }
        }

        .b-item--sec {
            width: 35%;
        }

        .b-item--third {
            width: 30%;
        }

        .b-item--fourth {
            width: 20%;
        }
    }
}

.b-card-15--active {
    .b-top {
        background-color: #ffe1a8;
        font-weight: 700;
    }
}

.b-card-16 {
    border: 1px solid #dadada;
    border-top: none;
    overflow: hidden;
    transition: all .6s;
    font-size: 16px;

    .b-top {
        background-color: #fff;
        transition: all .4s ease;

        .b-item {
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .6s ease;
            cursor: pointer;
        }

        .b-item--flex {
            padding-left: 0;
            padding-right: 0;
            gap: 3px;
        }

        .b-item--first {
            width: 50%;
            justify-content: flex-start;
        }

        .b-item--sec {
            width: 13%;
        }

        .b-item--third {
            width: 11%;


            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }
        }

        .b-item--fourth {
            width: 60%;
            justify-content: flex-start;
        }

        .b-item--fifth {
            width: 29%;
        }

        .b-box {
            width: 45px;
            height: 25px;
            border: 1px solid #aaa;
            border-radius: 5px;
        }

        .b-box--green {
            background-color: seagreen;
            border: none;
        }

        .b-box--red {
            background-color: #d32f2f;
            border: none;
        }

        .b-box--gray {
            background-color: #666;
            border: none;
        }

        .b-circle {
            background-color: #f1f1f1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .b-right-none {
            border-right: none;
        }
    }

    .b-bot {
        background: #f3f3f3;
        max-height: 500px;
        overflow: hidden;
        transition: max-height .5s ease;

        textarea {
            font-size: 16px;
            font-family: "Calibri", "Inconsolata", "Roboto", "Open Sans", sans-serif;
        }
    }

    .b-bot--close {
        max-height: 0;
    }
}

.b-card-20 {
    border: 1px solid #dadada;
    border-top: none;
    overflow: hidden;
    transition: all .6s;
    font-size: 17px;

    .b-top {
        background-color: #fff;
        transition: all .4s ease;

        &:hover {
            background-color: #ffe1a8;
        }

        .b-item {
            border-right: 1px solid #dadada;
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .6s ease;
            cursor: pointer;

            @media screen and (max-width: 479px) {
                padding: 5px;
                font-size: 16px;
            }
        }

        .b-item--first {
            width: 25%;
            justify-content: flex-start;
            text-transform: capitalize;
        }

        .b-item--sec {
            width: 20%;

            @media screen and (max-width: 479px) {
                width: 30%;
            }
        }

        .b-item--third {
            width: 15%;

            @media screen and (max-width: 479px) {
                width: 18%;
            }
        }

        .b-item--fourth {
            width: 15%;
            gap: 5px;

            @media screen and (max-width: 479px) {
                width: 17%;
            }

            .MuiTypography-root {
                font-size: 18px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }
        }

        .b-item--fifth {
            width: 8.3%;
            gap: 5px;
            padding-top: 0;
            padding-bottom: 0;

            @media screen and (max-width: 479px) {
                width: 10%;
            }

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }

            &:hover {
                background-color: #f3f3f3 !important;
            }
        }

        .b-right-none {
            border-right: none;
        }

        .b-circle {
            background-color: #f1f1f1;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .b-bot {
        max-height: 500px;
        overflow: hidden;
        transition: max-height .5s ease;

        .b-item--seventh {
            padding: 10px 0;
        }

        .b-box {
            width: 50px;
            height: 27px;
            border: 1px solid #aaa;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #d32f2f;
        }

        .b-box--red {
            background-color: #d32f2f;
            border: none;
            color: #fff;
        }
    }

    .b-top--active {
        background: cornsilk;
        border-bottom: 1px solid #dadada;
    }

    .b-bot--close {
        max-height: 0;
    }
}

.b-card-20--active {
    .b-top {
        background-color: #ffe1a8;
        font-weight: 700;
    }
}

.w-30 {
    width: 30px;
}

.s-upload {

    .b-input {
        input {
            padding: 0 10px;
            font-size: 15px;
            height: 48px;
        }
    }

    .b-validate {
        font-size: 14px;
        font-style: italic;
        font-weight: 600;
        color: red;
        margin-top: 5px;
        gap: 3px;
        display: flex;
        justify-content: flex-end;
        font-family: Mulish, Nunito, sans-serif;
    }

    .b-thumb-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 250px;

        @media screen and (max-width: 479px) {
            max-width: 300px;
        }

        @media screen and (max-width: 425px) {
            max-width: 250px;
        }

        @media screen and (max-width: 375px) {
            max-width: 200px;
        }
    }
}

.b-card-30 {
    border: 1px solid #dadada;
    border-top: none;
    overflow: hidden;
    transition: all .6s;
    font-size: 17px;

    .b-top {
        background-color: #fff;
        transition: all .4s ease;

        &:hover {
            background-color: #ffe1a8;
        }

        .b-item {
            border-right: 1px solid #dadada;
            padding: 10px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .6s ease;
            cursor: pointer;
        }

        .b-item--first {
            width: 23%;
            justify-content: flex-start;
            text-transform: capitalize;
        }

        .b-item--sec {
            width: 17%;
            word-break: break-all;
        }

        .b-item--third {
            width: 12%;
        }

        .b-item--fourth {
            width: 12%;

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }
        }

        .b-item--fifth {
            width: 12%;
            gap: 5px;

            .MuiTypography-root {
                font-size: 16px;
            }

            .MuiFormControlLabel-root {
                margin: 0;
            }
        }

        .b-right-none {
            border-right: none;
        }
    }
}

.b-card-30--active {
    .b-top {
        background-color: #ffe1a8;
        font-weight: 600;
    }
}